body {
    margin: 0;
}


/* *************BAGGRUND************* */

/*
#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;

    background-image: url(Scene_1600.svg);
    background-size: 100%;

}
*/



#menu_background {
    background-image: url(Scene_1600.svg);
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    overflow: hidden;


}

#game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    background-image: url(Scene_1600.svg);
    background-size: 100%;
}


/*************ELEMENTS****************/


#trae {
    background-image: url(Tr%C3%A6.svg);
    background-size: 100%;
    width: 8vw;
    height: 13.1vw;
    position: absolute;
    top: 24.7vw;
    left: 40vw;
}

#trae2 {
    background-image: url(Tr%C3%A6.svg);
    background-size: 100%;
    width: 10vw;
    height: 16.4vw;
    position: absolute;
    top: 21.9vw;
    left: 48vw;
}

#trae3 {
    background-image: url(Tr%C3%A6.svg);
    background-size: 100%;
    width: 10vw;
    height: 16.4vw;
    position: absolute;
    top: 21.4vw;
    left: 80vw;
}

#trae4 {
    background-image: url(Tr%C3%A6.svg);
    background-size: 100%;
    width: 8vw;
    height: 13.1vw;
    position: absolute;
    top: 24.7vw;
    left: 90vw;
}



.taxi {
    background-image: url(Taxi.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10.5vw;
    position: absolute;
    top: 32.5vw;
    left: 10vw;
    cursor: pointer;

}

.taxi_korer1 {

    background-image: url(Taxi.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10.5vw;
    position: absolute;
    top: 32.5vw;
    left: 10vw;

    animation-name: taxi_korer1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


@keyframes taxi_korer1 {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}


.taxi_korer2 {

    background-image: url(Taxi.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10.5vw;
    position: absolute;
    top: 44.5vw;
    left: 10vw;

    transform: scaleX(-1);

    animation-name: taxi_korer2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


@keyframes taxi_korer2 {
    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}

.kloakmanden {
    background-image: url(Kloakmanden.svg);
    background-size: 100%;
    width: 22.5vw;
    height: 13.2vw;
    position: absolute;
    top: 30.9vw;
    left: 50vw;
    cursor: pointer;

}

.kloakmanden_korer1 {
    animation-name: kloakmanden_korer1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Kloakmanden.svg);
    background-size: 100%;
    width: 22.5vw;
    height: 13.2vw;
    position: absolute;
    top: 30vw;
    left: 50vw;
}


@keyframes kloakmanden_korer1 {

    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}


.kloakmanden_korer2 {
    animation-name: kloakmanden_korer2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Kloakmanden.svg);
    background-size: 100%;
    width: 22.5vw;
    height: 13.2vw;
    position: absolute;
    top: 42.5vw;
    left: 50vw;
    transform: scaleX(-1);
}


@keyframes kloakmanden_korer2 {

    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}

.hippie {
    background-image: url(Hippie%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 12.3vw;
    position: absolute;
    top: 42.7vw;
    left: 80vw;
    cursor: pointer;
}

.hippie_korer1 {
    animation-name: hippie_korer1;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Hippie%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 12.3vw;
    position: absolute;
    top: 43.7vw;
    left: 80vw;
}


@keyframes hippie_korer1 {
    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}

.hippie_korer2 {
    animation-name: hippie_korer2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Hippie%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 12.3vw;
    position: absolute;
    top: 30.7vw;
    left: 80vw;
}


@keyframes hippie_korer2 {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}


.gron {
    background-image: url(Gr%C3%B8n%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 44.7vw;
    left: 30vw;
    cursor: pointer;
}

.gron_korer1 {
    animation-name: gron_korer1;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Gr%C3%B8n%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 30vw;
    left: 80vw;


}


@keyframes gron_korer1 {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}

.gron_korer2 {
    animation-name: gron_korer2;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Gr%C3%B8n%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 45vw;
    left: 80vw;
    transform: scaleX(-1)
}


@keyframes gron_korer2 {
    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}


.gul {
    background-image: url(Gul%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 44.7vw;
    left: 70vw;
    cursor: pointer;
}

.gul_korer1 {
    animation-name: gul_korer1;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Gul%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 45vw;
    left: 80vw;
    transform: scaleX(-1)
}


@keyframes gul_korer1 {
    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}


.gul_korer2 {
    animation-name: gul_korer2;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(Gul%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 32vw;
    left: 80vw;

}


@keyframes gul_korer2 {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}

.rod {
    background-image: url(R%C3%B8d%20sportsvogn.svg);
    background-size: 100%;
    width: 23vw;
    height: 8.9vw;
    position: absolute;
    top: 46.7vw;
    left: 30vw;
    cursor: pointer;
}

.rod_korer1 {
    animation-name: rod_korer1;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(R%C3%B8d%20sportsvogn.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 32vw;
    left: 80vw;

}


@keyframes rod_korer1 {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}

.rod_korer2 {
    animation-name: rod_korer2;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background-image: url(R%C3%B8d%20sportsvogn.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 32vw;
    left: 80vw;

}


@keyframes rod_korer2 {
    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}

/*



#bil_gul {
    background-image: url(Gul%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 44.7vw;
    left: 70vw;


}

#bil_rod {
    background-image: url(R%C3%B8d%20sportsvogn.svg);
    background-size: 100%;
    width: 23vw;
    height: 8.9vw;
    position: absolute;
    top: 46.7vw;
    left: 30vw;

    transform: scaleX(-1)
}

#bil_blaa {
    background-image: url(Bl%C3%A5%20bil.svg);
    background-size: 100%;
    width: 16.5vw;
    height: 10vw;
    position: absolute;
    top: 32.7vw;
    left: 60vw;

}
*/







#start {
    background-image: url(Scene_1600.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    background-size: 100%;

}


#play {
    position: absolute;
    width: 25vw;
    height: 6.4vw;
    background-image: url(UI_play.svg);
    background-size: 100%;
    left: 38vw;
    top: 10vw;
    z-index: 1;

    cursor: pointer;
}

#settings_knap {
    position: absolute;
    width: 25vw;
    height: 6.4vw;
    background-image: url(UI_settings.svg);
    background-size: 100%;
    left: 38vw;
    top: 18vw;
    z-index: 1;

    cursor: pointer;
}

#score {
    background-image: url(UI_score2.svg);
    background-size: 100%;
    width: 14vw;
    height: 4.5vw;
    position: absolute;

    top: 5vw;
    left: 60vw;


}

#score_tal {
    font-size: 3vw;
    text-align: right;
    margin-right: 1vw;
    margin-top: 0.4vw;
    font-family: fantasy;



}


#time {
    background-image: url(UI_time_1.svg);
    background-size: 100%;
    width: 15vw;
    height: 5vw;
    position: absolute;

    top: 5vw;
    left: 80vw;

}

#time_tal {
    font-size: 2.5vw;
    text-align: right;
    margin-right: 1vw;
    margin-top: 1vw;
    font-family: fantasy;
}




#settings {
    background-image: url(Scene_1600.svg);
    background-size: 100%;
    width: 100w;
    height: 56.25vw;
    position: absolute;
    top: 0;
    left: 0;


}

#music {
    background-image: url(UI_music.svg);
    background-size: 100%;
    width: 20vw;
    height: 5.2vw;
    position: absolute;
    top: 10vw;
    left: 40vw;
    cursor: pointer;
}

#sounds {
    background-image: url(UI_sounds.svg);
    background-size: 100%;
    width: 20vw;
    height: 5.2vw;
    position: absolute;
    top: 16vw;
    left: 40vw;
    cursor: pointer;
}




#back {
    background-image: url(UI_back.svg);
    background-size: 100%;
    width: 13vw;
    height: 4.16vw;
    position: absolute;
    top: 23vw;
    left: 40vw;
    cursor: pointer;
}



/**************ANIMATIONER****************/



/*
.taxi_korer {
    animation-name: taxi_korer;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


@keyframes taxi_korer {
    from {
        left: 100vw;
    }

    to {
        left: -30vw;
    }
}


.rod_korer {
    animation-name: rod_korer;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rod_korer {
    from {
        left: -30vw;
    }

    to {
        left: 100vw
    }
}







.gul_korer {
    animation-name: gul_korer;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes gul_korer {

    from {
        left: -30vw;
    }

    to {
        left: 100vw;
    }
}


.blaa_korer {
    animation-name: blaa_korer;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blaa_korer {
    from {
        left: 100vw;
    }

    to {
        left: -30vw
    }
}

.gron_korer {
    animation-name: gron_korer;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes gron_korer {
    from {
        left: -30vw;
    }

    to {
        left: 100vw
    }
}

*/






/********* EFFEKTER *********/

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
